/****** BASE STYLES ******/

body {
   /** font-family: 'Source Sans Pro', sans-serif;***/

}

#about, #work, #contact {
   /** height: 600px;**/
}
p {
    font-size: 120%;
}
h1 {
    font-size: 36px;
}
/****** GRID ******/

.full-width {
    width: 1200px;
    margin: 0 auto;
}
.half-width {
    width: 600px;
    float: left;
}
.third-width {
    width: 400px;
    float: left;
    padding: 10px;
}
.fourth-width {
    width: 300px;
    height: 450px;
    float: left;
    padding: 0px;
}


/****** HEADER ******/

/*******Main*********/
#test-font-1 {
    font-family: 'Lobster', cursive;
    /*letter-spacing: 2px;*/
    text-align: center;
    color: whitesmoke;
    background-color: #6b5b95;
    overflow: auto;
}

#test-font-2 {
    font-family: 'Suez One', serif;
    /*letter-spacing: 2px;*/
    text-align: center;
    color: black;
    background-color: #feb236;
    overflow: auto;
}

#test-font-3 {
    font-family: 'Righteous', cursive;
    /*letter-spacing: 2px;*/
    text-align: center;
    color: whitesmoke;
    background-color: #d64161;
    overflow: auto;
}
#test-font-4 {
    font-family: 'Ubuntu', sans-serif;
    /*letter-spacing: 2px;*/
    text-align: center;
    color: black;
    background-color: #ff7b25;
    overflow: auto;
}
#test-font-5 {
    font-family: 'Bungee Shade', cursive;
    /*letter-spacing: 2px;*/
    text-align: center;
    color: black;
    background-color: #d5e1df;
    overflow: auto;
}
#test-font-6 {
    font-family: 'Ubuntu Condensed', sans-serif;
    /*letter-spacing: 2px;*/
    text-align: center;
    color: black;
    background-color: #e3eaa7;
    overflow: auto;
}
#test-font-7 {
    font-family: 'Signika', sans-serif;
    /*letter-spacing: 2px;*/
    text-align: center;
    color: black;
    background-color: #b5e7a0;
    overflow: auto;
}
#test-font-8 {
    font-family: 'Roboto', sans-serif;
    /*letter-spacing: 2px;*/
    text-align: center;
    color: black;
    background-color: #86af49;
    overflow: auto;
}